<p id="notice"><%= notice %></p>

<h1>Listing Coustomers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coustomers.each do |coustomer| %>
      <tr>
        <td><%= link_to 'Show', coustomer %></td>
        <td><%= link_to 'Edit', edit_coustomer_path(coustomer) %></td>
        <td><%= link_to 'Destroy', coustomer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coustomer', new_coustomer_path %>
