<%= render "components/slider" %>  
<section>
  <div class="container">
    <div class="row">
      <%= render "components/left_side_bar"%>
      <div class="col-sm-9 padding-right">
        <div class="category-tab"><!--category-tab-->
          <div class="col-sm-12">
            <ul class="nav nav-tabs">
              <%= render "components/sub_categories_navigation"%>
            </ul>
          </div>
          <div class="tab-content">
            <%if @products.present? %>
              <% @products.each do |product| %>
              <div class="tab-pane fade active in" id="product-list-<%=product.id%>" >
                <%= render "components/content" ,product: product %>
              </div>
              <%end%>
            <% else %>
              <h2 align="center"> Product not available</h2>
            <% end %>
          </div>
        </div>
        <div class="recommended_items"><!--recommended_items-->
          
        </div><!--/category-tab-->
          <%= render "components/recommended" %>
        </div><!--/recommended_items-->
      </div>
    </div>
  </div>
</section>

