 <div class = "panel panel-info">
    <div class = "panel-heading">
      <% if @user.id == current_user.id %>
      <h4>Who to follow </h4>
      <%=link_to "VIEW All", users_path %>
      <% else %>
      <h4><%= @user.name.capitalize %> Twitter Profile</h4>
      <% end %>
      </div>
      <div class = "panel-body">
        <br>
        <% if current_user.avatar.url.present? %>
        <%= image_tag(@user.image, class: 'img-rounded',style: "margin-left:75px") %>
        <% else %>
        <%= image_tag "twitter-128.png", size: '100x100',class: 'img-rounded' %>
        <% end %>
        <h4 style="text-align:center;"><span class="name"><%= @user.name.capitalize %></span></h4>
        <br>
        <table class = "table ">
          <tr>
            <td><%= link_to 'TWEETS' ,tweets_path %></td>
            <td><%= link_to 'FOLLWING' ,users_path %></td>
            <td><%= link_to 'FOLLWERS' ,users_path %></td>
          </tr>
            <tr class = "success">
            <td><h3 style="color:blue;"><%= @user.tweets.count %></h3></td>
            <td><h3 style="color:blue;"><%= @user.follwing.count %></h3></td>
            <td><h3 style="color:blue;"><%= @user.follwers.count %></h3></td>
          </tr>
        </table>
      </div>
    </div>