<p id="notice"><%= notice %></p>
<% if current_user %>
<div class="col-sm-3">
  <div class = "panel panel-info">
    <div class = "panel-heading">
      <% if @user.id == current_user.id %>
      <h4>Your Twitter Profile</h4>
      <% else %>
      <h4><%= @user.name.capitalize %> Twitter Profile</h4>
      <% end %>
      </div>
      <div class = "panel-body">
      <br>
        <% if current_user.avatar.url.present? %>
      <%= image_tag(@user.avatar.url(:thumb), class: 'img-rounded',style: "margin-left:110px") %>
      <% else %>
      <%= image_tag(@user.image, class: 'img-rounded',style: "margin-left:110px") %>
      <% end %>
        <h4 style="text-align:center;"><span class="name"><%= @user.name.capitalize %></span></h4>
        <br>
        <table class = "table table-bordered">
          <tr>
            <td><%= link_to 'Tweets' ,tweet_path(@user) %></td>
          </tr>
            <tr class = "success">
            <td><%= @user.tweets.size %></td>
          </tr>
           <tr>
            <td><%= link_to 'Change password' ,edit_user_registration_path %></td>
          </tr>
        </table>
      </div>
    </div>
</div>
<div class="col-sm-7">
<div class="panel panel-default devise-bs">
  <div class="panel-body">
    <%= form_for(@user) do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>
     
     
      <%= f.submit t('.update', :default => "Update"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<% end %>



