<h1>New Articale <h1>
  <%=form_for @artical do |f| %>
    <div>
      <%=f.label :title %>
      <%=f.text_field :title %>
    </div>  
    <div>
      <%=f.label :text %>
      <%=f.text_area :text %>
    </div>
     <div>
      <%=f.submit :submit %>
    </div>
  <%end%>
  <%=link_to "Back" , articals_path%>