<div class="col-sm-3">
  <%=render "top_left_bar"%>

  <%=render "bottom_left_bar"%>
   
</div>
<div class="col-lg-6" >
  <%= bootstrap_flash %>
  <%=render "new"%>
  
  <%=render "tweets"%>
</div>
<div class="col-sm-3">
  <%=render "users/top_right_bar"%>
</div>