<div class="col-sm-3">
  <%=render "users/top_left_bar"%>
  <%=render "bottom_left_bar"%>
</div>
<div class="col-lg-6" >
  <%= bootstrap_flash %>
  <div class= "panel panel-info">
    <div class = "panel-heading">
      <h3>Comment on Tweet</h3>
    </div>
    <br>
    <div class = "panel-body" id='show-<%=@tweet.id%>'>
      <div id="show-tweet-timeline ">
        <span class="name col-lg-9" style="color:inherit;font-size:150%"><b><%= @tweet.user.name.capitalize %></b></span> 
        <span class="time"><%= time_ago_in_words(@tweet.created_at) %> ago</span>
        <br><br>
        <p id="show-tweet", class="col-lg-12 ", style="font-size:120%" >&nbsp<%= @tweet.body %>
        <br>
        <br>
        <% if @tweet.user_id == current_user.id %>
        &nbsp<%=link_to "",  tweet_path(@tweet), method: :delete,class: "glyphicon glyphicon-trash", style: "color:blue"%>
        <% end %>
        </p>
      </div>
    </div>
    
      <%= render @tweet.comments %>
      <hr>
      <%= render 'comments/form' %>
    </div>
  </div>
</div>
  <div class="col-sm-3">
    <%=render "users/top_right_bar"%>
  </div>